.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    color: currentcolor;
    font-size: inherit;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
    left: 10px;
    z-index: 2;
    color: #00f;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
    right: 10px;
    z-index: 2;
    color: #00f;
}

.icon-container {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px !important;
    height: 15px;
    background: rgb(191 9 9 / 80%) !important;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 输入框 */
.input-style {
    background-color: #191919;
    border: 2px solid #484848 !important;
    border-radius: 0;

}

.ant-input-number-input {
    color: #FFFF !important;

    /* opacity: 0.9 !important; */
}


:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number:hover .ant-input-number-handler-wrap, :where(.css-dev-only-do-not-override-14wwjjs).ant-input-num {
    opacity: 1 !important;
}

.ant-input-number-handler-wrap {
    display: flex !important;
    flex-direction: column;
    width: 32px;
    height: 100% !important;
    background-color: #191919 !important;
    border: 0 !important;
    border-radius: 0 !important;
    transform: none !important;
    opacity: 1 !important;
    transition: none !important;
    row-gap: 2px;
}

.ant-input-number-handler-up {
    background-color: #2b2b2b !important;
    border: 0 !important;

}

.ant-input-number-handler-up:hover {
    background-color: #ffffff28 !important;
}

.ant-input-number-handler-down:hover {
    background-color: #ffffff28 !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler {
    display: block;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner, :where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color: #fff !important;
}

.ant-input-number-handler-down {
    background-color: #2b2b2b !important;
    border: 0 !important;
}

.ant-input-number-handler-up-inner {
    color: #FFF9 !important;
}

.ant-input-number-handler-down-inner {
    color: #FFF9 !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-handler-up {
    border-block-end: 1px solid #d9d9d9;
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-handler-down {
    border-block-start: 1px solid #d9d9d9;
    border-end-end-radius: 0;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-handler:hover {
    height: 40% !important;


}


/* input hover状态 */
:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number:hover {
    border: 1px solid #484848;
}

/* input focus状态 */
:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number:focus, :where(.css-dev-only-do-not-override-14wwjjs).ant-input-number-focused {
    border: 1px solid #484848;
}


