@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button {
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
    color: white;
    font: inherit;
    background: #ff2058;
    border: 1px solid #ff2058;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:active {
    box-shadow: 0 2px 4px rgb(0 0 0 / 26%);
}

button:focus {
    outline: none;
}
