.spin {
    width: 120px;
    height: 20px;
    border-radius: 0 !important;
}

.spin-root {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.addon {

    padding: 0 !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number-group .ant-input-number-group-addon {
    padding: 0 !important;
}

.ant-input-number-group-addon {
    width: 20px !important;
}

.ant-input-number-input, .ant-input-number-input-wrap {
    height: 20px;
    font-size: 12px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number .ant-input-number-input {
    height: 20px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-btn {
    line-height: 1;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number-group .ant-input-number-group-addon {

    border-radius: 1px;

}

.text-spin {
    /*transform-style: preserve-3d;*/
    transform: rotateX(30deg) rotateY(45deg) rotateZ(10deg);
}

.box {
    width: 600px;
    height: 600px;
    border: 2px solid crimson;
}

.guang {
    /*text-shadow: red 2px 5px;*/
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, red, transparent) 1;
    writing-mode: vertical-lr;
    /*writing-mode: sideways-lr;*/
    /*writing-mode: vertical-lr;*/
}

.guang1 {
    /*text-shadow: red 2px 5px;*/
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, red, transparent) 1;
    writing-mode: vertical-rl;
    /*writing-mode: sideways-lr;*/
    /*writing-mode: vertical-lr;*/
}
